:root {
    --primary-color: #9c1de7;
    --orange-color: #eac100;
    --muted-color: #777;
    --body-color: #000000;
    --body-background-color: #ccc;
    --input-padding-y: 0.5rem;
    --font-size-1: 4.768rem;
    --font-size-2: 3.815rem;
    --font-weight-bold: 700;
}
body {
    color: var(--body-color);
    background-color: var(--body-background-color);
}
.page {
    border: 1px solid var(--muted-color);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 60rem;
    margin: 0 auto;
    background-color: white;
}
.content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.search-form__input {
    padding: var(--input-padding-y) 1rem;
    border: 1px solid var(--primary-color);
}
.search-form__input:focus {
    border-color: black;
}

.search-form__button {
    padding: var(--input-padding-y);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.location__maincity {
    font-size: var(--font-size-2);
}
.location__time {
}
.location__condition {
}
.condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.condition__temperature {
    font-size: var(--font-size-1);
    color: var(--orange-color);
}
.detail {
    color: var(--muted-color);
    font-weight: var(--font-weight-bold);
}
.detail__pre {
}
.detail__hum {
}
.detail__win {
}
.days {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.day {
    text-align: center;
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}
.day__condition {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.day__condition img {
    width: 2rem;
    height: 2rem;
}
.day__name {
}
.day__temp {
}

.image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
}
.image img {
    width: 50%;
}
